.view {
    background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRM1pyqwHYTGW3kpXWNVgZyOnl0tLcyWVsFpuyQ0JoO2LtQWB_B&s")repeat center center;
    background-size: auto;
}

html,
body,
header,
.view {
    height: 100%;
}
