extends layout

block header
  div(class="container text-center white-text")
    div(class="white-text text-center black")
      h2 Proyecto Final
      h5 SISTEMAS DISTRIBUIDOS
      br
      p 2019 - II S
block content
  main.text-center.py-5
      div.container
          div.row
              div.col-md-12
                  p(align="justify").
                    Proyecto Final de la materia Sistemas Distribuidos del término 2019-II dictado por la Doctora
                    Cristina Abad. El proyecto trata de un sistema distribuido basado en servicios para la
                    conversión de archivos en diferentes formatos.
                    <br>
                    Para este caso, tenemos conversión de archivos de audio, video e imagen.
  
  //h1= title
  //p Welcome to #{title}
