doctype html
doctype html
html(lang="en", class="full-height")
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    // Font Awesome
    link(rel="stylesheet", href="https://use.fontawesome.com/releases/v5.8.2/css/all.css")
    //Bootstrap core CSS
    link(href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css", rel="stylesheet")
    //Material Design Bootstrap
    link(href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.10.1/css/mdb.min.css", rel="stylesheet")
    //JQuery
    script(type="text/javascript", src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js")
    //Bootstrap tooltips
    script(type="text/javascript", src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js")
    //Bootstrap core JavaScript
    script(type="text/javascript", src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js")
    //MDB core JavaScript
    script(type="text/javascript", src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.10.1/js/mdb.min.js")
    
  body
    header
      nav(class="navbar fixed-top navbar-expand-lg navbar-dark indigo")
        button(class="navbar-toggler" type="button", data-toggle="collapse", data-target="#navbarSupportedContent",
        aria-controls="navbarSupportedContent", aria-expanded="false", aria-label="Toggle navigation")
          span(class="navbar-toggler-icon")
        div(class="collapse navbar-collapse", id="navbarSupportedContent")
            ul(class="navbar-nav mr-auto")
              li.nav-item
                a(class="nav-link",href="/") Bienvenida
              li.nav-item
                a(class="nav-link",href="/conversion") Convertidor
      div.view
        div.full-bg-img
          div(class="mask rgba-black-light flex-center")
            block header
    block content

    footer.indigo
      div.container
        div.row
          div.col-12.white-text.text-center.py-3.
            José Escobar, Kevin Gómez, Fernando Vaca.
            Todos los derechos reservdos. 2019-2020